<ion-header [translucent]="true" color="dark" class="ion-no-border">
  <ion-toolbar color="dark">
    <ion-title> model list </ion-title>
    <ion-buttons>
      <ion-button (click)="reload()" color="tertiary">
        <ion-icon  slot="start" name="reload-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="dark">
  <ion-list>
    <ion-item-sliding *ngFor="let corte of cortes">
      <ion-item detail (click)="getTasks(corte.id)" color="dark">
        <ion-label> {{ corte.modelo }} </ion-label>
        <ion-note slot="end" color="tertiary">
          {{ corte.tasks.length }} task
        </ion-note>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option color="danger" (click)="delete(corte.id)">
          <ion-icon slot="icon-only" name="close"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item *ngIf="isAdd" class="ion-margin-top" color="dark">
      <ion-label>Models</ion-label>
      <ion-select (ionChange)="newModel()" [(ngModel)]="modelSelect">
        <ion-select-option *ngFor="let model of modelos"
          >{{ model.name }}</ion-select-option
        >
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngIf="total!==0" color="dark">
      <ion-label>Total</ion-label>
      <ion-label> {{ total }} </ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="tertiary" (click)="isAdd = !isAdd">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab
    vertical="bottom"
    horizontal="start"
    slot="fixed"
    *ngIf="cortes.length > 0"
  >
    <ion-fab-button color="warning" (click)="deleteAll()">
      <ion-icon name="trash-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
